/* Mobile & Tablet */
@media (max-width: 1023px) {
    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }

    .container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .grid-content {
        padding-top: 4px;
    }

    .header__sort-bar {
        display: flex;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header__cart {
        width: 30px;
        text-align: right;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc(((100%) - 644px) / 2)
    }

    .header__cart-list::after {
        display: none;
    }

    .mobile-category {
        display: block;
    }

    .policy__list {
        display: none;
    }

    .address__registerd-img {
        margin-top: 16px;
    }
}

/* Tablet  739px <= width < 1023px*/
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
    }

    .hide-on-tablet {
        display: none;
    }
    .header__logo {
        display: none;
    }
}

/* Mobile width < 740px*/
@media (max-width: 739px) {
    :root {
        --navbar-height: 0px;
        --header-height: 54px;
    }
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__mobile-search {
        display: block;
    }

    .header__logo {
        width: unset;
    }

    .header__cart {
        width: unset;
    }

    .header__logo-icon::before {
        display: none;
    }

    .header__search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search {
        top: var(--header-height);
        position: fixed;
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        z-index: 1;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.2s;
        display: none;
    }
    .header__search-history{
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100%;
        left: 0;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        right: 0;
    }

    .header__search-input {
        padding: 0;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 28px;
        min-width: 36px;
        font-size: 1.6rem;
    }

    .grid-content {
        margin: 0 4px;
    }

    .home-product-item__price-old {
        margin-left: 10px;
    }

    .footer {
        margin: 0 8px;
    }

    .address__registerd-img {
        width: 35%;
    }

    .address__position-item-link-mobile {
        letter-spacing: 0.4px;
        margin-bottom: 16px;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height)/2);
        }

        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
}

/* Nets Hub */
@media (width: 1024px) {
    .home-product-item__price-old {
        margin-left: 8px;
    }

    .home-product-item__price-current {
        margin-left: 2px;
    }

    .home-product-item__action-saled {
        margin-left: 0;
    }

    .home-filter__title {
        display: none;
    }

    .trademark {
        margin: 0;
    }

    .trademark__item-icon {
        right: 54px;
    }

    .trademark__price-input {
        margin-left: 1px;
        width: 44%;
    }

    .trademark__price-mark {
        margin-left: 1px;
    }

    .address__registerd-img {
        margin-top: 16px;
    }

    .footer__download-app-img {
        margin-top: 12px;
    }

    .policy__list {
        display: none;
    }
}